div{
    height: 100px;
    width: 100px;
    background-color: bisque;
    /* border-width: 2px;
    border-style: solid;
    border-color: aqua; */
    border:2px solid aqua;
     border-radius: 15px;
     /* margin: 50px; */
     
}

#101{
     height: 100px;
    width: 100px;
    background-color: bisque;
    border:2px solid aqua;
    border-radius: 15px;
}